<!doctype html>
<!-- Florian Wendel Matr.Nr. 2736433-->
<html lang="en">
<head>
    <title>Login</title>
    </head>
    <body>

    <main>

        <h1>Benutzername:</h1>
        <input type="text" name="username" placeholder="benutzername">

        <h1>Mail:</h1>
        <input type="email" name="email" placeholder="mail">

        <h1>Passwort:</h1>
        <input type="password" name="password" placeholder="password">
        <button type="button" onclick="location.href='willkommen.html'">Registrieren</button>

    </main>
    </body>
</html>