<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>


    <body>

        <main>
            <h1>Benutzername:</h1>
            <input type="text" name="username" placeholder="benutzername">
            <h1>Mail:</h1>
            <input type="email" name="email" placeholder="mail">
            <h1>Passwort:</h1>
            <input type="password" name="password" placeholder="password">

            <form>
                <button type="reset" onclick="location.href='willkommen.mustache'">
                    Registrieren
                </button>
            </form>

            <a href="willkommen">text</a>

        </main>

    </body>
</html>