<!doctype html>
<html lang="en">
    <head>

        <title>Beste Site</title>
        <link rel="stylesheet" href="styles.css">

    </head>

    <body>
    <main>
        <!-- semantische Begriffe-->
        <div></div>
        5 &lt; &nbsp;&gt; 6

        <section></section>
        <details></details>
        <header></header>
        <article></article>

        <h1>Beste Seite der Welt</h1>
        <h2>Unterabschnitt {{newsHeader}} {{msg}}</h2>
        <p>Paragraph1</p>
        <p>Paragraph2</p>
        <ul>
            <li>Item 1</li>
            <li class="special">Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>

        <img src="back.jpg" alt="Background" width="320px" height="200px">
    </main>
    <footer>

        <a href=https://google.de>
            <img src="back.jpg" alt="Background" width="320px" height="200px">
        </a>

        <a href="https://www.heise.de" target="_blank" >www.heise.de</a>
    </footer>
    </body>
</html>